<div class="container">

	<!-- <div class="row">
		<svg class="tripled"id="visualisation" ></svg>
	</div> -->

	<md-button class="md-raised"> Raised Button </md-button>
	<md-input-container>
      <label>Title</label>
      <input ng-model="user.title">
    </md-input-container>
	

<md-input-container>
        <label>Current Repo</label>
        <md-select ng-model="ctrl.userState">
          <md-option  value="{{state.abbrev}}">
            {{state.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>

	

      <p> use option with async search for assigning to users
      https://material.angularjs.org/HEAD/demo/select</p>

	<md-menu-bar>
 <md-menu>
   <button ng-click="$mdOpenMenu()">
     Sample Menu
   </button>
   <md-menu-content>
     <md-menu-item type="checkbox" ng-model="settings.allowChanges">Allow changes</md-menu-item>
     <md-menu-divider></md-menu-divider>
     <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 1</md-menu-item>
     <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 2</md-menu-item>
     <md-menu-item type="radio" ng-model="settings.mode" ng-value="1">Mode 3</md-menu-item>
   </md-menu-content>
 </md-menu>
</md-menu-bar>
 
</div>