
<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
        </div>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
        </div>


        <div class="">
        <button ng-click="addCard()" class="btn btn-primary"> Add card</button>
        <button ng-click="addLane()" class="btn btn-primary"> Add Lane</button>
        <button ng-click="addIssue()" class="btn btn-primary"> Add party</button>
        </div>
    </div>
</nav>
