section {
    margin-left: 5%;
}

h4 {
    text-align: center;
}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 0px;
}
#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}


.section {
	margin-top: 30px;
	margin-bottom: 30px;
}

.list {
	border-right-width: 5px;
    border-right-style: solid;
    border-right-color: rgba(0,34,21,.2);
	list-style: none outside none;
	margin: 10px;
	padding: 10px;
    height:calc(100vh - 60px);
    overflow: scroll;
}

.item {
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: white;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}


.laneConfig{
    width:320px;
    display: inline-table;
    text-align: center;
    height:100%;
}

#addLaneForm{
    text-align:center;
}
.laneHeading{
    font-weight: bold;
    font-family: 'Share Tech Mono';
}
.separator{
    height:100%;
    background-color: blue;
}
.lateral{      
       
    display: inlineblock;     
    width: 100%;       
    overflow: scroll;      
    white-space: nowrap;       
}
.cardText{
 
}
textarea{
    resize:none;
    width: 100%;
    border-style: none;
}
.cardNumber{
    padding-bottom: 0%;
    text-align: left;
}
