#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}


@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}


.section {
	margin-top: 30px;
	margin-bottom: 30px;
}

.list {
	border: 1px solid #000;
	border-radius: 15px;
	list-style: none outside none;
	margin: 10px;
	padding: 10px;
}

.item {
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #EA8A8A;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}

.sidebar-toggle {
    position : absolute;
    left : 60px;
    background : rgba(3,159,244,.95);
    color : white;
    text-decoration : none;
    padding : 20px;
}

.sidebar-pos {
    position : absolute;
    top : 0;
    left: 0;
    transition : 100ms left;
}


