section {
    margin-left: 5%;
}

h4 {
    text-align: center;
}
hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 2px 2px -12px rgba(0, 0, 0, 0.5);
    margin-top: 1px;
    margin-bottom: 0px;
}
#home {
  fullstack-logo {
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
}

#commentsList{
    list-style-type: none;
    // display: inline-block;
    // max-width:90%;
}

#comments {
    border: 2px solid grey;
    border-radius: 3px;
}

#AddAComment {
    width:100%;
    margin:auto;
    padding-bottom: 0px;
}

#deleteCommentButton {
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
    float: right;
}

.SaveCancelButtons {
    display: inline-block;
    float:right;
}
.section {
	margin-top: 30px;
	margin-bottom: 30px;
}

md-content {
    form {
        ul {
            padding-left:60px
        }
    }
}

.list {
	// border-right-width: 5px;
 //    border-right-style: solid;
 //    border-right-color: rgba(0,34,21,.2);
	list-style: none outside none;

	padding: 10px;
    height:calc(100vh - 40px);
    overflow: scroll;
}

.item {
	padding: 5px 10px;
	margin: 5px 0;
	border: 0px solid #444;
	border-radius: 5px;
	background-color: white;
	font-size: 1.1em;
	text-align: center;
	cursor: default;
    -webkit-box-shadow: 3px 3px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 20px -6px rgba(0,0,0,0.75);
}


.laneConfig{
    width:25%;
    display: inline-table;
    text-align: center;
    height:100%;
}

#addLaneForm{
    text-align:center;
}
.laneHeading{
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: thin;
}

.separator{
    height:100%;
    background-color: blue;
}
.lateral{

    display: inlineblock;
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
}

textarea{
    resize:none;
    width: 100%;
    border-style: none;
}

.cardModalSubmitButton {
    margin:auto;
    border-bottom: 0px;
}
.editCardModalButtons {
    padding-bottom:0px;
}
.modalCardDivider {
    width: 100%;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid white;
    margin: 20px 0;
    margin-top: 2px;
    margin-bottom: 0px;
}
.modalCardUser{
    display:inline-block;
    background-color: #d3d3d3;
    border-radius: 3px;
}
.commentsList {
    margin-bottom: 0px;
    padding-left: 0px;
}
.modalCardBody {
    padding-left: 5px;
}
.commentHistory {
    top:-25px;
    color: #337ab7;
}
.commentDescription{
    height:0px;
}
.editCardModalTitle {
    font-weight:bold;
    text-align:center;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.cardNumber{
    padding-bottom: 0%;
    text-align:left;
    color:#66A266;
    font-size:.875em;
}
.SaveCancelButtons{
    padding-top:1px;
    padding-bottom:1px;
}
.commentText{
    max-width: 84%; //68, 84
    resize: both;
    border-bottom: solid 1px #F5F5F5;
}
.smallerWidth{
    width: 68%;
}

.dropdown-menu{
    position: absolute;
    min-width: 60px;
}
.sprint-dropdown > .dropdown-menu{
    min-width: 30%;
}
.expand-sprint-dropdown > .dropdown-menu{
    min-width: 30%;
}
.story-pointer{
    background-color: white;
    cursor:pointer;
}
.individual-point{
    width:100%;
}

.dropdown-menu>li>a {
    color:#428bca;
    cursor:pointer;
}
.dropdown ul.dropdown-menu {
    box-shadow:none;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    left: 14px;
    z-index: 9;
}
.link-point{
    text-align:left;
    padding-left: 0px;
    padding-right: 0px;
    width:100%;
}
.icon-size{
    vertical-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    height:.5em;
    width:.5em;
}

.issueDescription {
    padding-bottom: 0px;
}
.editCardModalWindow {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}
.editCommentCardNumber {
  padding-bottom: 0%;
  text-align: left;
  color: #66A266;
  font-size: 20px;
}


.card-sprint{
    padding-bottom: 0%;
    text-align: right;
    color:#68228B;
    font-size:.875em;
    cursor:pointer;
}
a:hover{
    text-decoration: none;
}
.sprint-dropdown{
    text-align:right;
}
.dropdown-menu > li >a {
    padding-left: 0px;
    padding-right:0px;
}
.card-text{
    width:90%;
    overflow: hidden;
}
.card-text-icon{
    width:10%;
}
.card-expansion{
    height:100%;
}
.expand-sprint-dropdown{
    width: 100%;
    text-align: left;
}

.collab-img {
    height: 18px;
    border-radius: 15px;
}

.card-body{
    max-width:100%;
}