
<nav class="navbar navbar-static-top">
  <div class="container">
      <div class="navbar-header">

        <div class='dropper fifty'>
          <md-menu-bar>
            <md-menu>
             <md-button ng-click="$mdOpenMenu()">
              <span class="app-name">Grille</span> <i ng-show="user" class="fa fa-caret-down"></i>
             </md-button>
             <md-menu-content ng-show="user">
                  <md-menu-item ng-show="currentBoard()" >
                    <md-button focus-me="false" ng-click="addLane()">Add Lane </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button focus-me="false" ng-click="addSprint()">Add Sprint </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ui-sref="userSettings">Home</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ui-sref="visual">Charts</md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="logout()">Logout</md-button>
                  </md-menu-item>              
             </md-menu-content>

           </md-menu>
          </md-menu-bar>
        </div>

        <div class="dropper" ng-show="user && currentBoard()">
          <md-button ng-click="addCard()"><span class="app-name">Issue</span> <i class="fa fa-plus"></i></md-button>
        </div>

<!--           <div class="cur-repo">
              <md-input-container>
                <label>Current Repo</label>
                <md-select ng-model="user.currenRepo">
                  <md-option  value="">
                    user.activeRepos
                  </md-option>
                </md-select>
              </md-input-container>
          </div> -->

        <!-- <div class="app-name boardName" ng-show"user && currentBoard()">
          {{currentBoard().name}} -->
<!--           <md-select ng-model="aaa">
            <md-option>
              one
            </md-option>
            <md-option>
              two
            </md-option>
          </md-select> -->

        <!-- </div> -->
        

        <!-- <md-button ng-show="!user" ui-sref="auth" class="btn login-button app-name">Login</md-button> -->
        <span class="app-name navbar-username" ng-show="user && !currentBoard()">{{user.username}}</span>
        <span class="app-name boardName" ng-show="user && currentBoard()">{{currentBoard().owner.username+'/'+currentBoard().name}}</span>
        <i ng-show="user && getActiveRepoCache().length>1" class="fa fa-caret-down"></i>


      </div>
  </div>
</nav>
