<div class="boardPage landingFont">
	<h4 class="centerText"> Welcome to Grille! Please click on a raw repo (GitHub project) to select into your GrilleBoard list</h4>
	<div class="tableHeight">
		<table class="tableStyle" align="center">
			<td class="colStyle">
			    <h3 class="centerText blueText textUnderline">GrilleBoards</h3>

				<ul class="listStyle">
					<li class="blueText">  Please select a Grille to manage</li>
					<!-- home(repo) works too :) -->
					<li class="blueText" ui-sref="home({ githubId: repo.githubId, repoId:repo._id })" ng-class="{ highlighted: hover }" ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-repeat="repo in activeBoards()">
						<button class="listBtnStyle">{{ repo.owner.username + '/' + repo.name }}</button>
					</li>

				</ul>
			</td>
			<td class="colStyle">
				<h3 class="centerText textUnderline">RawBoards</h3>
				<div ng-show="rawSelected">
					<ul class="listStyle">
						<label>Search: <input size="35" ng-model="searchText"></label>
						<li ng-repeat="repo in inActiveBoards() | filter:{name: searchText}" ng-show="$index < 15">
							<button class="listBtnStyle" ng-click="setActive(repo._id)">{{ repo.owner.username + '/' + repo.name }}</button>
						</li>

					</ul>
				</div>
			</td>
		</table>
	</div>
</div>
