<div layout="column">

  <div layout="row">
    <h2>Registered Repos</h2>
    <md-button class="md-primary md-raised" ng-click="showAddRepo($event)"  >
      Add Repo
    </md-button>
  </div>

  <div layout="row">
    <md-list>
      <md-list-item class="md-offset md-2-line"
                    ng-repeat="repo in repos | filter:{active:true}"
                    ng-click="$state.go('home', {owner:repo.owner.username, repoId:repo._id})">
        <div class="md-list-item-text md-primary" >
          <h3>{{repo.name}}
            <span class="glyphicon glyphicon-cog"></span>
          </h3>
          <p>{{repo.owner.username}}</p>
        </div>
      </md-list-item>

    </md-list>

  </div>
</div>
