  <div ui-sortable="sortableOptionsList[0]" class="apps-container screen floatleft" ng-model="rawScreens[0]">
    <div class="app" ng-repeat="app in rawScreens[0]">{{$index}} {{app.title}}</div>
  </div>
  <div ui-sortable="sortableOptionsList[1]" class="apps-container screen floatleft" ng-model="rawScreens[1]">
    <div class="app" ng-repeat="app in rawScreens[1]">{{$index}} {{app.title}}</div>
  </div>
  <div style="clear: both;"></div>

<div class="floatright">
  <button type="button" ng-click="logModels()">Log Models</button>
  <ul class="list logList">
    <li ng-repeat="entry in sortingLog" class="logItem">
      {{entry}}
    </li>
  </ul>
</div>
