.landingFont{
    font-weight: bold;
}

.landingSize1{
    font-size: 50px;
}

.landingSize2{
    font-size: 20px;
}

.centerText{
    text-align: center;
}

.tableStyle{
    align: center;
    border: 2px solid black;
    border-radius: 100px;
}

.colStyle{
    border: 1px solid black;
    vertical-align: top;
    width: 50%;
    background-color: #cccccc;
}