.landingFont{
    font-weight: bold;
}

.landingSize1{
    font-size: 50px;
    text-decoration: underline;
}

.landingSize2{
    font-weight: normal;
    font-size: 20px;
}

.landingBlue{
    color: #3366cc;
}

.centerText{
    text-align: center;
}

.landingBtn{
    height: 50px;
    width: 200px;
    background-color: #3366aa;
    font-size: 18px;
    border-radius: 7px;
}

.landingGrille{
    border: 2px solid #3366aa;
    height: 300px;
    border-radius: 5px;
}