

<section>
<div class="row">
<div class="col-sm-3">
<button ng-click="addIssue()" class="btn btn-block btn-primary"> Add card</button>
</div>
<div class="col-sm-3">
<button ng-click="addLane()" class="btn btn-block btn-primary"> Add Lane</button>
</div>
<div class="col-sm-3">
<button ng-click="addIssue()" class="btn btn-block btn-primary"> Add party</button>
</div>
</div>
<div class="row">
  <div class="col-sm-1 sidebar-toggle" ng-mouseover="hovered=true" ng-mouseleave="hovered=false">Menú</>
  </div>

  <div class="col-sm-2 sidebar-pos" ng-show="hovered">
    <ul>
      <li>test</li>
    </ul>
  </div>

  <div class="col-sm-11">
    <div class="section row connectedItemsExample">
      <div class="row grid-divider">
        <div class="col-sm-offset-2 col-sm-4">
          <ul ui-sortable="sortableOptions" ng-model="leftArray" class="list">
            <li ng-repeat="item in leftArray" class="item">{{item}}</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul ui-sortable="sortableOptions" ng-model="rightArray" class="list">
            <li ng-repeat="item in rightArray" class="item">{{item}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>

</section>
