<section>
  <div>

    <div class="section row connectedItemsExample">

      <div class="lateral">

        <div class="laneConfig"ng-repeat="lane in lanes">

          <h3 class="laneHeading"> {{ lane.title }} </h3>
          <ul ui-sortable="sortableOptions" ng-model="lane.ownCards" class="list">
            <div ng-repeat="card in lane.ownCards" class="item">
              <textarea ng-model="card" class="cardText"></textarea>
              <div>
              <button><i class="fa fa-github" ng-click="githubLink()"></i></button>

              <button><i class="fa fa-comment"></i></button>
              </div>
            </div>
          </ul>

        </div>

      </div>

    </div>

  </div>

</section>
