<section>
  <div>

    <div class="section row connectedItemsExample">

      <div class="lateral">

        <div class="laneConfig"ng-repeat="theLane in lanes">

          <h3 class="laneHeading"> {{ theLane.title }} </h3>
          <ul ui-sortable="sortableOptions" class="list">
            <div ng-repeat="card in cards | filter: {lane: {_id: theLane._id}}" class="item">
              <div class="cardNumber"><p>{{card.issueNumber}}</p></div>
              <textarea rows="1" ng-model="card.title" class="cardText"></textarea>
              <div>
              <button><i class="fa fa-github" ng-click="githubLink()"></i></button>

              <button><i class="fa fa-comment"></i></button>
              </div>
            </div>
          </ul>

        </div>

      </div>

    </div>

</section>
