<div  layout="column" ng-cloak class="md-inline-form">
  <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
   
    </md-input-container>
  </md-content>
  <md-content layout-padding>
    <form name="cardForm">
    
 
      <md-input-container class="md-block">
        <label>Title</label>
        <textarea rows="1" ng-model="theCard.title" class="cardText" style="font-weight:bold; text-align:center;"></textarea>
      </md-input-container>

      <md-input-container md-no-float class="md-block">
        <label>Description</label>
      </md-input-container>
        <textarea rows="1" ng-model="theCard.body" class="cardText" placeholder="write description here"></textarea>
      
      <!-- list of comments -->
      <ul>
        <li ng-repeat="comment in theCard.comments">
          <textarea ng-model="comment.body" name="sometext" rows="1" class="cardText">{{ comment.body }}</textarea>
          <button ng-click="updateComment(comment.body)">Save</button>

  <!--         <button ng-hide="editing" ng-click="editing = true">Edit</button>
          <button ng-show="editing" ng-click="editing = false">Save</button> -->

<!--            <span ng-hide="editing">
             <button ng-click="editing = true">Edit</button>
           </span>

          <span ng-show="editing">
            <input type="text" ng-model="name"> 
            <button ng-click="editing = false">Save</button>
          </span> -->
        </li>
      <ul>

      <md-input-container class="md-block">
        <label>Add a Comment</label>
        <textarea id="comments" ng-model="data.body" rows="1" class="cardText"></textarea>
      </md-input-container>


	<div layout layout-sm="column">
	<md-input-container flex>
    <md-button> <input type="button" ng-click="reset(form)" value="Reset"></md-button>
    </md-input-container>
    <md-input-container flex>
    <md-button> <input type="submit" ng-click="ok(data)" value="Submit"></md-button>
    </md-input-container>
    </div>

 
      </div>
    </form>
  </md-content>

</div>