<div layout="column" ng-cloak class="md-inline-form">
   
  <!-- Modal Window -->
  <md-content layout-padding class="editCardModalWindow">
    <form name="cardForm">
      <md-input-container class="md-block issueDescription">
          <label class="editCommentCardNumber">{{ modalCard.issueNumber }}</label>
        <textarea rows="1" ng-model="modalCard.title" class="editCardModalTitle" aria-label="cartText"></textarea>
      </md-input-container>

      <!-- Description -->
      <md-input-container md-no-float class="md-block commentDescription">
        <label class="commentHistory">Comment History:</label>
      </md-input-container>
        <textarea class="modalCardBody" rows="1" ng-model="modalCard.body" class="cardText"></textarea>
      <!-- List of Comments -->
      <ul class="commentsList">
        <li id="commentsList" ng-repeat="comment in modalCard.comments">
          <div class="modalCardUser"> {{ comment.user.username }} </div>
            <textarea class="commentText" ng-class=" {smallerWidth: cardForm.aComment{{$index}}.$dirty}" ng-model="comment.body" name="aComment{{$index}}" rows="1">{{ comment.body }}</textarea>

          <!-- Save, Delete, Comment buttons -->
          <button ng-show="cardForm.aComment{{$index}}.$pristine" id="deleteCommentButton" class="btn btn-default btn-circle" ng-click="deleteComment(comment)">
            <i class="fa fa-times"></i>
          </button>
          <div ng-show="cardForm.aComment{{$index}}.$dirty" class="SaveCancelButtons">
            <button class="btn btn-default btn-sm SaveCancelButtons" ng-click="updateComment(comment, cardForm)">Save</button>
            <button style="margin-right:2px;" class="btn btn-default btn-sm SaveCancelButtons" ng-click="cancelComment(cardForm)">Cancel</button>
          </div>
        </li>


      </ul>
      <!-- Divider -->
      <!-- <div class="modalCardDivider"></div> -->

      <!-- Add a Comment -->
      <md-input-container id="AddAComment" class="md-block">
        <label>Add a Comment</label>
        <textarea id="comments" ng-model="data.body" name="newCommentBody" rows="1" class="cardText"></textarea>
      </md-input-container>

      <!-- Cancel - Submit Buttons -->
    	<div layout layout-sm="column">
      	<md-input-container flex class="EditCardModalButtons">
         <md-button class="btn btn-warning" type="button" ng-click="cancel()" aria-label="cancel">Go Back</md-button>
        </md-input-container>
        <md-input-container flex class="EditCardModalButtons">
          <md-button class="btn btn-warning" type="submit" ng-click="ok(data)" aria-label="submitter">Submit Comment</md-button>
        </md-input-container>
      </div>

    </form>
  </md-content>

<!-- </div>