<!-- <div>
  <form name="addCardForm" id="addCardForm">
	<h7>Add Card Information</h7>
	<p>Title:<input type="text" ng-model="data.title" value="testing"/></p>
	<p>Description:<input type="text" ng-model="data.description" value="testing"/></p>

	<p>Labels...</p>
	<p>Milestone...</p>
	<br />
    <input type="button" ng-click="reset(form)" value="Reset" />
    <input type="submit" ng-click="ok(data)" value="OK" />

  </form>
</div> -->

<div  layout="column" ng-cloak class="md-inline-form">
  <md-content layout-padding layout="row" layout-sm="column">

    </md-input-container>
  </md-content>
  <md-content layout-padding>
    <form name="cardForm">


      <md-input-container class="md-block">
        <label class="addIssueHeadings">Title</label>
        <input ng-model="card.title" placeholder="Issue title">
      </md-input-container>

      <md-input-container md-no-float class="md-block">
      <label class="addIssueHeadings">Description</label>
        <input ng-model="card.body" placeholder="Description here">
      </md-input-container>
	<div layout layout-sm="column">
	<md-input-container flex>
    <md-button class="btn btn-warning" type="button" ng-click="cancel()" aria-label="cancel">Cancel</md-button>
    </md-input-container>
    <md-input-container flex>
    <md-button class="btn btn-warning" type="button" ng-click="ok(card)" aria-label="subimt">Submit</md-button>
    </md-input-container>
    </div>


      </div>
    </form>
  </md-content>

</div>