<section>
    <div class="section row connectedItemsExample">
        <div class="lateral">
            <div class="laneConfig" ng-repeat="(title, lane) in viewLanes()">
                <h3 class="laneHeading"> {{ title }} </h3>
                <ul ui-sortable="sortableOptions" class="list" ng-model="lane">
                    <div ng-repeat="card in lane" class="item">
                        <div class="cardNumber">
                            <p>{{card.issueNumber}}</p>
                        </div>
                        <textarea rows="1" ng-model="card.title" class="cardText"></textarea>
                        <div class="row">
                            <div class="col-sm-3 ">
                                <div class="dropdown">
                                    <a class="story-pointer dropdown-toggle" data-toggle="dropdown"><i class="fa fa-hourglass-start icon-size" ng-hide="card.storyPoints"></i><span ng-show="card.storyPoints" class="border-circle">{{card.storyPoints}}</span></a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="number in storyPointsRange" class="individual-point">
                                            <a class="link-point" ng-click="changePoints(card,number)">{{number}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <a href="{{card.html_url}}" class="icon-size"><i class="fa fa-github" aria-label="githubLink"></i></a>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa fa-comment icon-size" ng-click="openCommentModal(card)" aria-label="comment"></i>
                            </div>
                            <!--  <div class="col-sm-3 ">
                                <div class="dropdown">
                                    <a class="assignee-dropdown dropdown-toggle" data-toggle="dropdown"><i class="fa fa-smile-o icon-size"></i></a>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="collaborator in collaborators" class="individual-point">
                                            <a class="link-point">picture and name here</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>
