<div  layout="column" ng-cloak class="md-inline-form sprint-form">
  
  <md-content layout-padding>
    <form name="sprintForm">


      <md-input-container class="md-block">
        <label class="addSprintHeadings">Sprint title</label>
        <input ng-model="sprint.title" ng-required="true">
      </md-input-container>

      <md-input-container md-no-float class="md-block">
      <label class="addSprintHeadings">Sprint description</label>
        <input ng-model="sprint.description" ng-required="true">
      </md-input-container>

<table style="width:100%">
  <tr>
    <td><div class="startDateTitle">Start</div></td>
    <td>Finish</td>
  <tr>
    <td class="startDate"><input type="date" ng-model="sprint.startDate" ng-required="true"></td>
    <td class="endDate"><input type="date" ng-model="sprint.endDate" ng-required="true"></td>
  <tr>
</table>

	<div layout layout-sm="column">
	<md-input-container flex>
    <md-button class="btn btn-warning" type="button" ng-click="cancel()" aria-label="cancel">Cancel</md-button>
    </md-input-container>
    <md-input-container flex>
    <md-button class="btn btn-warning" type="button" ng-click="ok(sprint)" aria-label="submit">Submit</md-button>
    </md-input-container>
    </div>



    </form>
  </md-content>

</div>