* {
  box-sizing: border-box;
}

body {
  background: #F0F0F0;

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
}

#comments {
	border: 2px solid grey;
	border-radius: 3px;
}

@import 'visual/main';
@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'userSettings/main';
